@model MvcCoreApplication.Models.Job
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@Html.DisplayNameFor(model => model.JobTitle)
@Html.DisplayFor(model => model.JobTitle)
<br />


@Html.DisplayNameFor(model => model.JobAddedDate)
@Html.DisplayFor(model => model.JobAddedDate)
